<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shoes Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Price</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      {% for record in shoes %}
        <tr>
          <td>{{ record['id'] }}</td>
          <td>{{ record['Name'] }}</td>
          <td>{{ record['Gender'] }}</td>
          <td>{{ record['Price'] }}</td>
          <td>{{ record['URL'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>